@use '@/styles/index' as *;

.task-form {
  align-items: center;
  margin-inline: auto;
  max-width: 600px;

  &__inputs {
    display: grid;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-s);

    @include mobile {
      border-radius: var(--border-radius-xxs);
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}