@use '@/styles/index' as *;

.task-form {
  display: grid;
  gap: fluid(16,8);
  align-items: center;
  margin-inline: auto;
  max-width: 800px;

  &__inputs {
    display: grid;
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-white);
    //justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__button {
   // background-color:
  }
}