@use '@/styles/index' as *;

.task-form-input {
  width: 98%;
  min-height: 50px;
  height: fluid(60,40);
  margin-inline: auto;
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius-xxs);
  color: var(--color-black);
  resize: none;

  &:focus-visible,
  &:focus {
    outline: none;
  }

  &--title {
    @include fluid-text(20,16);

    &::placeholder {
      color: var(--color-black);
      font-weight: var(--font-bold);
    }
  }

  &--description {
    @include fluid-text(18,14);
  }
}