@use '@/styles/index' as *;

.task-form-input {
  width: 98%;
  height: fluid(60,40);
  margin-inline: auto;
  padding: 10px 15px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-black);
  resize: none;
  overflow-y: hidden;

  &:focus-visible,
  &:focus {
    outline: none;
  }

  &--title {
    &::placeholder {
      color: var(--color-black);
      font-weight: var(--font-bold);
    }
  }
}