@use '@/styles' as *;

.button {
  //height: fluid(60,40);
  cursor: pointer;
  background-color: var(--color-gray-99);
  color: var(--color-black);
  //font-size: 1.5rem;
  //padding: 10px;
  border: none;
  border-radius: 5px;
  //text-align: center;

  &__actions {
    --actionButtonSize: #{fluid(60,40)};

    @include square(var(--actionButtonSize));

    &--disabled {
      @include disabled;
    }
  }

  @include hover() {
    background-color: var(--color-black-20);
    color: var(--color-white);
    border: var(--border);
    border-color: var(--color-white);
  }
}