@use '@/styles' as *;

.button {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-white);

  border-radius: 5px;


  &__actions {
    --actionButtonSize: #{fluid(60,40)};

    @include square(var(--actionButtonSize));

    &--disabled {
      @include disabled;
    }
  }

  @include hover() {
    background-color: var(--color-black-20);
    color: var(--color-white);
    border: var(--border);
    border-color: var(--color-white);
  }
}