@use '@/styles' as *;

.task {
  @include fluid-text(20, 14);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  padding-inline: fluid(16, 12);
  padding-top: fluid(10, 8);
  border-radius: var(--border-radius-s);
  border: var(--border);
  color: var(--color-black);
  background-color: var(--color-white);
  //max-height: 70vh;

  @include hover() {
    box-shadow: 0 0 8px 2px var(--color-black-30);
    transition-duration: var(--transition-duration);
  }

  &__container {
    min-height: 100px;
    // max-height: 70vh;
    width: 240px;


    @include mobile-m {
      width: 100%;
    }
  }


  &__text {

    &-title,
    &-description {
      width: 100%;
      text-align: left;
      overflow-wrap: anywhere;
    }


    &-title {
      @include fluid-text(18, 14);

      margin-bottom: fluid(14, 10);
      font-weight: 500;
    }

    &-description {
      @include fluid-text(16, 10);
      --currentHeight: offsetHeight;
      --number-of-lines-in-task-text-area: 0;


      // @include setHeightTextArea (var(--currentHeight));
      &--expanded {
        display: -webkit-box;
        -webkit-line-clamp: var(--number-of-lines-in-task-text-area);
        line-clamp: var(--number-of-lines-in-task-text-area);
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        //background-color: var(--color-red-45);
      }


    }
  }

  &__icons-container {
    min-height: 30px;
    margin-top: 5px;
    padding: 5px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-duration-longer);
  }

  &__icon {
    --taskIconSize: #{fluid(18,12)};
    @include square(var(--taskIconSize));

    color: var(--color-black-20);

    &-check,
    &-delete {
      cursor: pointer;
      padding: 0 7px;
      font-size: 1.8rem;
      transition: transform var(--transition-duration-longer);

      @include hover() {
        cursor: pointer;
        transform: scale(1.3);
      }
    }

    &--check {
      @include hover() {
        color: green;
      }
    }

    &--delete {
      @include hover() {
        color: red;
      }
    }
  }

  &__completed {
    background-color: unset;
    border-color: gray;
    color: var(--color-gray-60);

    .task__icon {
      color: var(--color-gray-60);

      &--check,
      &--delete {
        color: inherit;
      }
    }
  }
}
