@use '@/styles' as *;

.task {
  @include fluid-text(20,14);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  width: 240px;
  padding-inline: fluid(16,12);
  padding-top: fluid(10,8);
  border-radius: 5px;
  border: var(--border);
  color: var(--color-black);
  background-color: var(--color-white);

  @include hover() {
    box-shadow: 0 0 5px 2px var(--color-black-30);
    transition-duration: var(--transition-duration);
  }

  @include mobile-m {
    width: 100%;
  }

  &__modal {
    display: flex;
    position: fixed;
    inset: 0;
    background-color: var(--color-gray-60);
    justify-content: center;
    align-items: center;

  }

  &__text {
    &--title {
      color: var(--color-red);
      width: 100%;
      text-align: left;
      overflow-wrap: anywhere;
    }

    &--description {
      @include fluid-text(16,10);

      width: 100%;
      text-align: left;
      overflow-wrap: anywhere;
    }
  }

  &__icons-container {
    min-height: 30px;
    margin-top: 5px;
    padding: 5px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-duration-longer);
  }

  &__icon {
    --taskIconSize: #{fluid(18,12)};
    @include square(var(--taskIconSize));

    color: var(--color-black-20);

    &-check,
    &-delete {
      cursor: pointer;
      padding: 0 7px;
      font-size: 1.8rem;
      transition: transform var(--transition-duration-longer);

      @include hover() {
        cursor: pointer;
        transform: scale(1.3);
      }
    }

    &--check {
      @include hover() {
        color: green;
      }
    }

    &--delete {
      @include hover() {
        color: red;
      }
    }
  }

  &__completed {
    background-color: unset;
    border-color: gray;
    color: var(--color-gray-60);

    .task__icon {
      color: var(--color-gray-60);

      &--check,
      &--delete {
        color: inherit;
      }
    }
  }
}